/*
La proprietà "position" in CSS permette, come dice il nome, di modificare il comportamento riguardante la posizione
dei tag dipendentemente dal valore assegnato alla proprietà:

- static: Comportamento normale, i tag non rispondono ai comandi "top", "bottom", "right" e "left", impostare un position "static" equivale a lasciare il comportamento di default.
- relative: I tag rispondono ai comandi "top", "bottom" ecc.. e si spostano partendo dalla loro posizione di default.
- absolute: Viene considerato come un nuovo elemento, è relativo al primo parent che possiede un position relative, altrimenti si accolla al nodo <html>
- fixed: Rende un'elemento appiccicato a tutta la viewport height.
- sticky: Fa sì che un'elemento rimanga nella sua posizione di default fino ad un certo punto, per poi comportarsi come un fixed.
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}

.box-element {
    background-color: rgb(143, 72, 64);
    border: solid 5px;
    border-color: salmon;
    border-radius: 1rem;
    height: 5rem;
    width: 50rem;
    margin-bottom: 1rem;
}

.title {
    text-align: center;
}

#div-one {
    position: static; /*Questo div rimane nella sua posizione di default*/
    top: 1rem;
    left: 1rem;
}

#div-two {
    position: relative; /*Questo div è spostabile in base alla sua posizione di default*/
    right: 2rem; /*Genera una specie di margin-right di 2 rem dalla sua posizione di default*/
}

#div-three {
    position: absolute; /*Questo div è relativo al primo parent con un position relative, in questo caso, essendo che non ci sono parent relative, è legato al tag <html>*/
    left: 3rem; /*Genera un margin-left di 3 rem*/
}

#div-four {
    position: fixed; /*Rende questo div appiccicato al viewport in una posizione specifica*/
    right: 3rem;
    top: 2rem;
}

#div-five {
    position: sticky; /*Questo div rimane nella sua posizione di default, per poi assumere un comportamento "fixed" quando la distanza fra il bordo del div e il margine della pagina alto è 2 rem*/
    top: 2rem;
}